<page-header title="首页" [action]="action">
  <ng-template #action>
    <div class="flex-center-between">
      <label nz-checkbox [(ngModel)]="hidden">显示隐藏模块</label>
    </div>
  </ng-template>
</page-header>
<div nz-row nzGutter="16">
  @if (!getHiding('apisix') || hidden) {
    <div nz-col>
      <nz-card style="width: 300px" nzTitle="APISIX" [nzExtra]="apisix">
        <a routerLink="/apisix">实例</a>
      </nz-card>
      <ng-template #apisix>
        @if (hidden) {
          <label nz-checkbox [ngModel]="getHiding('apisix')" (ngModelChange)="hideChange('apisix', $event)">隐藏</label>
        }
      </ng-template>
    </div>
  }
  @if (!getHiding('setting') || hidden) {
    <div nz-col>
      <nz-card style="width: 300px" nzTitle="设置" [nzExtra]="setting">
        <p>
          <a routerLink="/setting/app">应用</a>
        </p>
        <p>
          <a routerLink="/setting/user">用户</a>
        </p>
      </nz-card>
      <ng-template #setting>
        @if (hidden) {
          <label nz-checkbox [ngModel]="getHiding('setting')" (ngModelChange)="hideChange('setting', $event)">隐藏</label>
        }
      </ng-template>
    </div>
  }
</div>
