<layout-default [options]="options" [asideUser]="asideUser" [content]="content" [customError]="null">
  <layout-default-header-item direction="right" hidden="mobile">
    <div layout-default-header-item-trigger nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
      <i nz-icon nzType="setting"></i>
    </div>
    <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
      <div nz-menu style="width: 200px">
        <div nz-menu-item>
          <header-fullscreen />
        </div>
        <div nz-menu-item>
          <header-clear-storage />
        </div>
      </div>
    </nz-dropdown-menu>
  </layout-default-header-item>
  <layout-default-header-item direction="right">
    <header-user />
  </layout-default-header-item>
  <ng-template #asideUser>
    <nz-card class="text-center">
      @if (showSelected) {
        <nz-select [ngModel]="selectValue" [nzOptions]="selectOptions" nzBorderless (ngModelChange)="selectChange($event)" />
      }
    </nz-card>
  </ng-template>
  <ng-template #content>
    <router-outlet />
  </ng-template>
</layout-default>
